<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/vendor/reset.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/vendor/layout.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/vendor/style.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" type="text/css" media="all">
        {% block css %}
        {% endblock %}
    </head>
    <body id="page1">
        <div class="main">
            <header>
                <div class="wrapper">
                    <h1><a href="{{ path('homepage') }}" id="logo">Smart Biz</a></h1>
                    <form id="search" action="" method="post">
                        <div class="bg">
                            <input type="submit" class="submit" value="">
                            <input type="text" class="input">
                        </div>
                    </form>
                </div>
                <nav>
                    <ul id="menu">
                        <li class="alpha" id="menu_active"><a href="{{ path('homepage') }}"><span><span>Home</span></span></a></li>
                        <li><a href="#"><span><span>About</span></span> </a></li>
                        <li><a href="#"><span><span>Projects</span></span></a></li>
                        <li><a href="#"><span><span>Contacts</span></span></a></li>
                        <li class="omega"><a href="#"><span><span>Sitemap</span></span></a></li>
                    </ul>
                </nav>
                <div class="wrapper">
                    <div class="text">
                        <span class="text1">Effective<span>business solutions</span></span>
                        <a href="#" class="button">read more</a>
                    </div>
                </div>
            </header>
            <div class="ic"></div>
            <div class="mrgT25">
                {% block body %}
                {% endblock %}
            </div>

        </div>
    </body>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/jquery-1.4.2.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/cufon-yui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/cufon-replace.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/Myriad_Pro_400.font.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/Myriad_Pro_700.font.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/Myriad_Pro_600.font.js') }}"></script>
    {% block js %}
    {% endblock %}
</html>