/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Sep, 2018, 8:05:35 AM
    Author     : binu
*/

.mrgT10 {
    margin-top: 10px !important;
}

.mrgT25 {
    margin-top: 25px !important;
}