{% extends "base.html.twig" %}

{% block body %}
    <script src="{{ asset('bundles/app/js/home.js') }} " type="text/javascript"></script>
    <select class="form-control" id="schnumber">
        {% for oneschnumber in schnumber %}
            {% set selected = '' %}
            <option value="{{oneschnumber}}">{{oneschnumber}}</option>
        {% endfor %}
    </select>
{% endblock %}

{#{% block js %}#}
{#    {{ parent() }}#}
{#{% endblock %}#}